<div class="red">

    <div class="row">
        <div class="col-4">
            <div id="left">
                <div>
                    <h1 class="categoryName">Action Games</h1>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="center">

                <div class="describeGameAction">
                    <p id="ActiongameInfo">
                        Looking for something that will require a sharp mind, a keen eye, and has the ability to
                        fufill your boredom?<br>
                        <br>ACTION GAMES ARE HERE FOR YOU!!! You will find MANY different styles of gameplay that
                        will keep you entertained
                        and full of excitement.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div id="right">
                <div class="drivingImage">
                    <img src="../../../assets/img/Action/Apex/revHeart.jpg" height="100%" width="100%">
                </div>

            </div>
        </div>
    </div>

</div>
<!-- <router-outlet></router-outlet> -->