<div class="red">

    <div class="row">
        <div class="col-4">
            <div id="left">
                <div>
                    <h1 class="categoryName">Action Games</h1>
                </div>

                <div class="gamelistButtons">
                    <div class="gameButton1">
                        <a routerLink="/action1game" routerLinkActive="active"
                            href="../actiongamespage/actiongamesList/action1game/action1game.component.html">
                            <button class="homieButtons" id="">
                                5ft3</button>
                        </a>
                    </div>

                    <div class="gameButton2">
                        <a routerLink="/action2game" routerLinkActive="active"
                            href="../actiongamespage/actiongamesList/action2game/action2game.component.html">
                            <button class="homieButtons" id="">
                                5ft3</button>
                        </a>
                    </div>

                    <div class="gameButton3">
                        <a routerLink="/action3game" routerLinkActive="active"
                            href="../actiongamespage/actiongamesList/action3game/action3game.component.html">
                            <button class="homieButtons" id="">
                                5ft3</button>
                        </a>
                    </div>

                    <div class="gameButton4">
                        <a routerLink="/action4game" routerLinkActive="active"
                            href="../actiongamespage/actiongamesList/action4game/action4game.component.html">
                            <button class="homieButtons" id="">
                                5ft3</button>
                        </a>
                    </div>

                    <div class="gameButton5">
                        <a routerLink="/action5game" routerLinkActive="active"
                            href="../actiongamespage/actiongamesList/action5game/action5game.component.html">
                            <button class="homieButtons" id="">
                                5ft3</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div id="center">

                <div class="describeGameAction">
                    <p id="ActiongameInfo">
                        Looking for something that will require a sharp mind, a keen eye, and has the ability to
                        fufill your boredom?<br>
                        <br>ACTION GAMES ARE HERE FOR YOU!!! You will find MANY different styles of gameplay that
                        will keep you entertained
                        and full of excitement.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div id="right">
                <div class="drivingImage">
                    <img src="../../../assets/img/Action/Apex/revHeart.jpg" height="100%" width="100%">
                </div>

            </div>
        </div>
    </div>

</div>

<router-outlet></router-outlet>