.yellow {
    padding-bottom: 8%;
    border: 10px solid rgb(226, 203, 2);
    height: 800px;
}

.gamelistButtons {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    align-items: center;
}

.describeGameFighting {
    float: left;
    padding-left: 20px;
    font-size: 20px;
    
}

.fightingImage {
    float: right;
    flex-basis: 40%;
    max-width: 100%;
}