<head>

</head>

<!-- HTML -->
<div class="body">
    <nav id="navbar">
        <div class="nav-brand">
            <p id="siteTitle">GIMME GAMES</p>
        </div>
        <ul class="nav-links">
            <li>
                <a href="https://joshhodges.com/">
                    <button class="homeButton">Home</button>
                </a>
            </li>
            <li>
                <a href="/actiongames">
                    <button class="actionButton">Action</button>
                </a>
            </li>
            <li>
                <a href="/drivinggames">
                    <button class="drivingButton">Driving</button>
                </a>
            </li>
            <li>
                <a href="/fightinggames">
                    <button class="fightingButton">Fighting</button>
                </a>
            </li>
            <li>
                <a href="/multiplayergames">
                    <button class="multiplayerButton">Multiplayer</button>
                </a>
            </li>
        </ul>
    </nav>
</div>


<router-outlet></router-outlet>