<head>

</head>


<body>

    <nav>
        <ul>
            <li>
                <a href="/homepage">Home</a>
            </li>

            <li>
                <a href="/actiongamespage">Action</a>
            </li>

            <li>
                <a href="/drivinggamespage">Driving</a>
            </li>

            <li>
                <a href="/fightinggamespage">Fighting</a>
            </li>

            <li>
                <a href="/multiplayergamespage">Multiplayer</a>
            </li>

        </ul>
    </nav>


</body>

<router-outlet></router-outlet>