<div class="green">

    <div class="row">
        <div class="col-4">
            <div id="left">
                <div>
                    <h1 class="categoryName">Multiplayer Games</h1>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="center">

                <div class="describeGameMultiplayer">
                    <p id="MultiplayergameInfo">
                        why are you still not next to the image hello
                        this is where i will describe the game a bit
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="right">
                <div class="multiplayerImage">
                    <img src="../../assets/img/Multiplayer/Minecraft/MineVillageNight.png" height="100%" width="100%">
                </div>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>