<div class="green">



    <h1 class="categoryName">Multiplayer Games</h1>


    <div id="firstChoice" *ngFor="let gameItem of gameItems" class="row">
        <div class="col-4">
            <div id="left">

                <div class="gamelistButtons">
                    {{ gameItem.name1 }}
                </div>

            </div>
        </div>

        <div class="col-4">
            <div id="center">

                <div class="describeGameMultiplayer">
                    <div id="MultiplayergameInfo">
                        {{ gameItem.description1 }}
                    </div>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div id="right">
                <div class="multiplayerImage">
                    <img [src]="gameItem.image1" alt="" class="multiplayerImage">
                </div>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>