img {
    width: 30%;
    margin:calc(10%/7);
}

img:hover {
    border-color: #007e02;
    color: white;
    box-shadow: 0 0.7em 0.5em -0.1em #007e02;
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media (max-width: 1000px) {
    img {
        height: 30em;
        width: 55em;
    }
}

@media (max-width: 800px) {
    img {
        height: 25em;
        width: 45em;
    }
}

@media (max-width: 700px) {
    img {
        height: 20em;
        width: 38em;
    }
}

@media (max-width: 600px) {
    img {
        height: 18em;
        width: 30em;
    }
}
