<div class="row">
    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/ArcadiusShae.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/ArcadiusShae.png" alt=""></a>

    </div>

    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/Hearthstone Power.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/Hearthstone Power.png" alt=""></a>

    </div>

    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/Rocket League ramen.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/Rocket League ramen.png" alt=""></a>

    </div>
</div>

<div class="row">
    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/Tpain Party.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/Tpain Party.png" alt=""></a>

    </div>

    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/LegoFort.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/LegoFort.png" alt=""></a>

    </div>

    <div class="col-4">
        <a href="../../../assets/img/photoAlbum/LakeSquad.png" target="_blank"><img
                src="../../../assets/img/photoAlbum/LakeSquad.png" alt=""></a>

    </div>

</div>

<!-- <div class="row">
    <div class="col-4">
        <img src="../../../assets/img/photoAlbum/" alt="">
    </div>

    <div class="col-4">
        <img src="../../../assets/img/photoAlbum/" alt="">
    </div>

    <div class="col-4">
        <img src="../../../assets/img/photoAlbum/" alt="">
    </div>
</div> -->

<router-outlet></router-outlet>