<div class="row">
    <div class="col-4">

        <nav>
            <div class="dropdown-menu">
                <button class="menu-btn">Open</button>
                <div class="menu-content">
                    <a class="links-hidden" href="#">Contact Us</a>
                    <a class="links-hidden" href="#">Visit Us</a>
                    <a class="links-hidden" href="#">About Us</a>
                </div>
            </div>
        </nav>

    </div>

    <div class="col-4">
        <p>1</p>
    </div>

    <div class="col-4">
        <p>1</p>
    </div>


</div>

<router-outlet></router-outlet>