<div class="blue">

    <mat-grid-list cols="3">

        <div class="tile1">
            <mat-grid-tile>

                <div id="left">
                    <div>
                        <h1 class="categoryName">Driving Games</h1>
                    </div>
                </div>

                <div id="left">

                    <div class="dropdown">


                        <button class="dropbtn">
                            <p id="drivingChoices">Top 5</p>
                            <i class="" aria-hidden="true"></i>
                        </button>

                        <div class="dropdown-content">
                            <a routerLink="/drivinggame1" routerLinkActive="active"
                                href="drivingList/drivinggame1/drivinggame1.component.html">Game 1</a>
                            <a routerLink="/drivinggame2" routerLinkActive="active"
                                href="drivingList/drivinggame2/drivinggame2.component.html">Game 2</a>
                            <a routerLink="/drivinggame3" routerLinkActive="active"
                                href="drivingList/drivinggame3/drivinggame3.component.html">Game 3</a>
                            <a routerLink="/drivinggame4" routerLinkActive="active"
                                href="drivingList/drivinggame4/drivinggame4.component.html">Game 4</a>
                            <a routerLink="/drivinggame5" routerLinkActive="active"
                                href="drivingList/drivinggame5/drivinggame5.component.html">Game 5</a>
                        </div>

                    </div>

                </div>

            </mat-grid-tile>
        </div>

        <!-- tile 2 start -->
        <div class="tile2">
            <mat-grid-tile>

                <div id="center">

                    <div class="describeGameDriving">
                        <pre><h4>
                            why are you still not next to the image hello
                            this is where i will describe the game a bit
                        </h4></pre>

                        <p>test</p>
                    </div>

                </div>

            </mat-grid-tile>
        </div>

        <!-- tile 3 start -->
        <div class="tile3">
            <mat-grid-tile>

                <div id="right">
                    <div class="drivingImage">
                        <img src="../../assets/img/forza.png" height="100%" width="100%">
                    </div>

                </div>

            </mat-grid-tile>
        </div>

    </mat-grid-list>

</div>

<router-outlet></router-outlet>