<div class="row">
    <div class="col-4">

        <nav role="navigation">
            <ul>
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a>
                    <ul class="dropdown">
                        <li><a href="#">Sub-1</a></li>
                        <li><a href="#">Sub-2</a></li>
                        <li><a href="#">Sub-3</a></li>
                    </ul>
                </li>
                <li><a href="#">Three</a></li>
            </ul>
        </nav>

    </div>

    <div class="col-4">
        <p>1</p>
    </div>

    <div class="col-4">
        <p>1</p>
    </div>


</div>

<router-outlet></router-outlet>